
    <div  class="container">

        <h2 id="contact"class="title"> Contac <span>Me</span> </h2>
        <div class="box">

            <div class="formulario">
                
                <form (ngSubmit)="onSubmit()">
                    <p>
                        <label><i class=" fa-solid fa-user iconcolors"></i> FullName
                        </label>
                        <input type="text" 
                        id="name" 
                        name="name" 
                        [(ngModel)]="usser.name" required>
                    </p>
                    <p>
                        <label><i class="fa-solid fa-at iconcolors"></i> Email Adress</label>
                        <input type="email"
                         name="email" 
                         id="email" 
                         [(ngModel)]="usser.email" required>
                    </p>
                    <p>
                        <label><i class="fa-solid fa-phone iconcolors"></i> Phone Number</label>
                        <input type="tel" 
                        name="phone"
                        id="phone"
                        [(ngModel)]="usser.phone" required>
                    </p>
                    <p>
                        <label><i class="fa-solid fa-square-poll-horizontal iconcolors"></i> Affair</label>
                        <input type="text"
                         name="affair" 
                         id="afair"
                        [(ngModel)]="usser.affair" required>
                    </p>
                    <p class="block">
                        <label>Message <i class="fa-solid fa-message iconcolors"></i></label>
                        <textarea rows="3" name="message" id="texthover" [(ngModel)]="usser.message" required> </textarea>
                    </p>
                    <p class="block">
                        <button  type="submit" > <!-- ESTO ES NUEVO-->
                            Submit
                        </button>
                    </p>
                </form>

            </div>
            <div class="info">
                <h2><span id="linea">Mor</span>e info <i class="fa-solid fa-circle-info iconcolors"></i></h2>
                <ul>
                    <li><i class="fa-solid fa-location-dot iconcolors"></i> San juan</li>
                    <li><i class="fa-solid fa-phone iconcolors"></i> 123-123-123</li>
                    <li><i class="fa-solid fa-envelope iconcolors"></i> diego@diego.com</li>
                    <li><i class="fa-brands fa-instagram iconcolors"></i> Diegomorel12</li>
                </ul>
                <p>
                    Text.app is a simple text editor for Chrome OS and Chrome. It's fast, lets you open multiple
                    files
                    at
                    once, has syntax highlighting, and saves to Google ...
                </p>
                <p>
                    Amecom
                </p>

            </div>
        </div>
    </div>
