<nav class="navbar navbar-light bg-light navlogo" *ngFor="let d of datas" >
  <a class="navbar-brand" href="#">
    <img class="icono" [src]="d.img">
    <!--<img src="" width="30" height="30" class="d-inline-block align-top" alt="">-->
   
  </a>
  <!--<a class="save" routerLink="login" routerLinkActive="active" ><i class="fa-solid fa-user-gear"></i></a>-->




  <div><button type="button" class="boton" (click)="login()" *ngIf="!isLogged"><i
        class="fa-solid fa-user"></i>></button>
    <button type="button" class="boton" (click)="onLogOut()" *ngIf="isLogged"><i
        class="fa-solid fa-user-slash"></i></button>
    <a routerLink="configuration" class="boton" routerLinkActive="active"><i class="fa-solid fa-user-gear" *ngIf="isLogged"></i></a>
   <!-- <button type="button" class="boton" (click)="onLogOut()" *ngIf="isLogged"><i class="fa-solid fa-user-gear"></i></button>-->
  </div>
</nav>