<div id="about" class="aboutme margin-px" *ngFor="let d of datas">
    <div class="container-flex">
        <div class="imgabout">

            <!-- <img src="assets\Diego.png">-->
            <img [src]="d.img">
        </div>
        <div class="infoabout infloflex">
            <h2> <span id=" linea" class="linea">Abo</span>utMe</h2>
            <!-- <div><button click><a class="icon"><a  routerLink="editaboutme" routerLinkActive="active"><i class="fa-solid fa-square-pen"></i></a></a></button> --->

            <div class="descripcion">
                <p class="sizeL">{{d.descrip}}
                </p>
            </div>
        </div>

    </div>

    <div class="botones">
        <p>
            <span class="greycolor"><a class="here" href="#contact">Contacts</a></span>
            <span id="dcv"><a class="dcv" href="https://drive.google.com/file/d/1W111Urv6uBGxnh48Ou9NyacRpMbLBPAz/view?usp=share_link" target="_blank" rel="noopener noreferrer"> Download CV</a></span>
        </p>

    </div>

</div>