
<div id="#aboutme" class="aboutme margin-px"><!--*ngFor="let d of datas"--> 
    
    <div class="imgabout">
        <img src="assets\Diego.png">
        <!--<img [src]="d.img">-->
    </div>
    <div class="infoabout">
        <h2> <span id=" linea" class="linea">Abo</span>utMe</h2>
        <!-- {{d.descrip}}<div><button click><a class="icon"><a  routerLink="editaboutme" routerLinkActive="active"><i class="fa-solid fa-square-pen"></i></a></a></button> --->
    </div>
    <p class="sizeL">

        Soy un muchacho de barrio que no tiene horario cuando hay que cantar
            Soy uno mas de la esquina de esa barra querida que no voy a olvidar
            Soy un muchacho de barrio y aunque pasen los años nunca me olvidare
            Que mi escuela fue la calle que en la vida pierda o gane
            Yo te lo juro por esta...
            Que yo nunca cambiaré, no cambiaré
            No cambiaré,
            Yo te lo juro nunca nunca cambiaré
            No cambiaré no no no cambiaré no no
            Yo te lo juro nunca nunca cambiaré
            No cambiaré
    </p>

    <div class="botones">
        <p>
            <span class="greycolor"><a class="here" href="#">Here me</a></span>
            <span id="dcv"><a class="dcv" href="#"> Download CV</a></span>
        </p>

    </div>

</div>


